 <!--================Footer Area =================-->
        <footer class="footer_area">
            <div class="container">
                <div class="footer_widgets">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-6">
                            <aside class="f_widget f_about_widget">
                                <a  href="/"><img style="height: 50px" src="../static/img/Techscanner.png" alt=""></a>
                                <p>TechScanner finds the best products just for your needs.</p>
                                <h6>Social:</h6>
                                <ul>
                                    <li><a href="https://tr-tr.facebook.com/itu1773"><i class="social_facebook"></i></a></li>
                                    <li><a href="https://twitter.com/itu1773"><i class="social_twitter"></i></a></li>
                                    <li><a href="https://tr.pinterest.com/itukampus/"><i class="social_pinterest"></i></a></li>
                                    <li><a href="https://www.instagram.com/itu1773/"><i class="social_instagram"></i></a></li>
                                    <li><a href="https://www.youtube.com/channel/UC3x9L_KCtfxEgdTh71NP5Jg"><i class="social_youtube"></i></a></li>
                                </ul>
                            </aside>
                        </div>
                        <div class="col-lg-2 col-md-4 col-6">
                            <aside class="f_widget link_widget f_info_widget">
                                <div class="f_w_title">
                                    <h3>Information</h3>
                                </div>
                                <ul>
                                    <li><a href="/aboutus">About us</a></li>
                                </ul>
                            </aside>
                        </div>
                        <div class="col-lg-2 col-md-4 col-6">
                            <aside class="f_widget link_widget f_service_widget">
                                <div class="f_w_title">
                                    <h3>Partner Websites</h3>
                                </div>
                                <ul>
                                    <li><a href="https://www.teknosa.com/">Teknosa</a></li>
                                    <li><a href="https://www.amazon.com.tr/">Amazon</a></li>
                                    <li><a href="https://www.hepsiburada.com/">Hepsiburada</a></li>
                                    <li><a href="https://www.n11.com/">n11</a></li>
                                </ul>
                            </aside>
                        </div>
                        <div class="col-lg-2 col-md-4 col-6">
                            <aside class="f_widget link_widget f_extra_widget">
                                <div class="f_w_title">
                                    <h3>Contact Us</h3>
                                </div>
                                <ul>
                                    <li><a href="/contact">Mobile: 444 0 000</a></li>
                                    <li><a href="/contact">support@tech.com</a></li>
                                </ul>
                            </aside>
                        </div>
                        <div class="col-lg-2 col-md-4 col-6">
                            <aside class="f_widget link_widget f_account_widget">
                                <div class="f_w_title">
                                    <h3>My Account</h3>
                                </div>
                                <ul>
                                    <li><a href="#">My account</a></li>
                                    <li><a href="#">Order History</a></li>
                                    <li><a href="#">Wish List</a></li>
                                    <li><a href="#">Newsletter</a></li>
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
                <div class="footer_copyright">
                    <h5> © TechScanner | All rights reserved | This website is made by ITU C.E. Students</h5>
                </div>
            </div>
        </footer>
        <!--================End Footer Area =================-->